<form>
    <div class="form-group">
        <label>Seleziona Compendio</label>
        <select id="compendium-select">
            {{#each compendiums}}
                <option value="{{this.collection}}">{{this.metadata.label}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Percorso Base</label>
        <input type="text" id="new-path" placeholder="Inserisci nuovo percorso" />
    </div>
    <div class="form-group">
        <label><input type="checkbox" id="update-token" checked /> Aggiorna Token</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" id="update-portrait" checked /> Aggiorna Ritratto</label>
    </div>
    <div class="form-group">
        <button id="update-paths" class="btn btn-primary">Aggiorna Percorsi</button>
    </div>
</form>
